---
import Layout from "../layouts/Layout.astro";
import Card from "../components/static/Card.astro";
---

<Layout>
    <div class="flex">
        <div class="w-40">
            <Card title="Test" description="Test" />
        </div>
    </div>
</Layout>
